//params for fastqc

params.fastq_extension="*.fastq.gz"
params.fastq="$params.file_path"+"$params.fastq_extension"
params.outdir5 = "./fastQC_output"


// params for sentieon
params {

    bwaIndex                      = "dx://project-GX84pyQ4FKX336bxfkQV7X1X:file-F404y604F30fbxQG68KF3GZb" //hs37d5.bwa-index.tar.gz
    fastaFile                     = ""  //project-F3zxk7Q4F30Xp8fG69K1Vppj:file-F403K904F30y2vpVFqxB9kz7 //hs37d5.fa.gz
    fastaIndex                    = ""  //project-F3zxk7Q4F30Xp8fG69K1Vppj:file-F3zyVj84F30jxYxG68vJyg68 //hs37d5.fa.fai
    gatkResource                  = "dx://project-GX84pyQ4FKX336bxfkQV7X1X:file-GVfBK604qYV8FyVgKfBYB0Q6"  //b37.gatk.resource.bundle.tar.gz
    file_path                     = "" //file path where all fastq files are located
    file_type                     = "*_{L001_R1,L001_R2,L002_R1,L002_R2}_001.fastq.gz"
    outdir1                       = "./sentieon_output"
}

params.fastq_files               ="$params.file_path"+"$params.file_type"

//picard parameters
params.fasta_index = "dx://project-F3zqGV04fXX5j7566869fjFq:file-F3zxG0Q4fXX9YFjP1v5jK9jf" //hs37d5.fasta-index.tar.gz
params.bedfile="dx://project-FzyfP204Z5qXBp6696jG5g10:file-G5jjzG0433GgkQ093K2p8PxQ" //CEN_capture_v1.0.0.bed
params.run_CollectMultipleMetrics = false
params.run_CollectHsMetrics = true
params.run_CollectTargetedPcrMetrics = false
params.run_CollectRnaSeqMetrics = false

params.outdir2 = "./picard_output"

//verifybamID parameters
params.vcf_file = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G08V2gj41zgGYp1K79YZXqx8"  //Omni25_genotypes_1525_samples_v2.b37.PASS.ALL.sites.vcf.gz
params.outdir3  = "./verifybamID_output"

//multiqc parameters
params.multiqc_config   = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G97Jf0j433GgfGj12xKJ8Zf6" //CEN_multiqc_config_v2.0.1.yaml
params.depth            ="250,500,1000"
params.outdir4          = "./multiqC_output"
params.num_samples      = ""
params.calc_custom_coverage = false

//samtools_flagstat parameters
params.outdir6 = "./samtools_flagstat_output"

//somalier param
//params.sample_vcf="*_Haplotyper.vcf.gz"
params.site_vcf="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G18PB8Q4vQpfvPv83qKpj2QG" //sites.GRCh37.vcf
params.ref_file="dx://project-GX84pyQ4FKX336bxfkQV7X1X:file-GXGqkX04FKX242XykfQ032Kx" //hs37d5.fa
params.ref_index_file="dx://project-GX84pyQ4FKX336bxfkQV7X1X:file-GXGv2YQ4FKX31k6vx1g1z389" //hs37d5.fasta-index.tar
params.outdir7 = "./somalier_combined_output"
params.female_threshold=3
params.male_threshold=1

//mosdepth param
params.bed="dx://project-Fv2gqv04kxV0QZgY3gZ1VG0P:file-Fpz2X0Q433GVK5xxPvzqvVPB" //refseq_nirvana_2.0.10_5bp_no_PAR_Y.bed
params.outdir8 = "./mosdepth_output"

//vcf_qc param
//params.bed = "dx://project-Fv2gqv04kxV0QZgY3gZ1VG0P:/twist_ic_miseq_vs_nextseq_test/apps_workflows/refseq_nirvana_2.0.10_5bp_no_PAR_Y.bed" already in mosdepth
params.outdir9 = "./vcf_qc_output"

//happy para
params.genome_in_a_bottle=""
//params.ref_fasta="" //genomes/b37/hs37d5.fa.gz #same as in sentieon
//params.reference_fasta_index="" //H. Sapiens - GRCh37 - hs37d5 (1000 Genomes Phase II)/hs37d5.fa.fai #same as in sentieon
params.high_conf_bed="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-FjkzKPQ4yBGgBgJ6KvyZ563P" //HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel.bed
params.panel_bed="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-G620390433GYGY34Jq6Zq1Xf" //CEN_genes_v1.0.0.bed
params.truth_vcf="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-FjkzKVQ4yBGkQQg53bX957G7" //HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz
params.sdf_tar="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fjp4k3j4yBGpK4x73bzbG2P0" //hs37d5-sdf.tar

params.outdir10="./happy_output"

//docker

process {
    withName:MULTIQC {
        container = 'ewels/multiqc:v1.14'
  }
    withName:Calc_Custom_Coverage {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
    withName:somalier_extract {
        container = 'brentp/somalier:v0.2.16'
  }
     
    withName:somalier_relate {
        container = 'brentp/somalier:v0.2.16'
  }
     
    withName:get_ped {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
  
    withName:somalier_relate2multiqc {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
    withName:MOSDEPTH {
        container = 'wintun12/fordnanexus:mosdepth_docker'
  }
    withName:vcf_qc {
        container = 'wintun12/fordnanexus:pysam_dockerimage'
  }
    withName:happy {
        container = 'wintun12/fordnanexus:happy_vcfeval_docker'
  }
     
    withName:reppy {
        container = 'wintun12/fordnanexus:reppy_docker_dockerfile'
  }
    
}
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
// machine type
process {
    withName:fastQC {
        machineType = 'mem1_ssd1_v2_x2'
  }
    withName:runSentieon {
        machineType = 'mem1_ssd1_v2_x36'
  }
    withName:untar {
        machineType = 'mem1_ssd1_x4'
  }
  
    withName:picard {
        machineType = 'mem1_ssd1_x4'
  }
  
    withName:verifybamID {
        machineType = 'mem1_ssd1_v2_x2'
  }
  
    withName:samtools_flagstat {
        machineType = 'mem1_ssd1_v2_x2'
  }
  
    withName:MULTIQC {
        machineType = 'mem1_ssd1_v2_x4'
  }
  
    withName:Calc_Custom_Coverage {
        machineType = 'mem1_ssd1_v2_x4'
  }
    withName:somalier_extract {
        machineType = 'mem1_ssd1_v2_x2'
  }
     
    withName:somalier_relate {
        machineType = 'mem1_ssd1_v2_x4'
  }
     
    withName:get_ped {
        machineType = 'mem1_ssd1_v2_x4'
  }
  
    withName:somalier_relate2multiqc {
        machineType = 'mem3_ssd1_v2_x2'
  }
    withName:MOSDEPTH {
        machineType = 'mem1_ssd1_v2_x4'
  }
  withName:vcf_qc {
        machineType = 'mem1_ssd1_v2_x2'
  }
  
  withName:happy {
        machineType = 'mem1_ssd1_v2_x4'
  }
  
  withName:reppy {
        machineType = 'mem1_ssd1_v2_x4'
  }
    
}

executor {
    queueSize = 99
}

