//params for fastqc
params.fastq= " "
params.outdir5 = "./fastQC_output"


// params for sentieon
params {

    bwaIndex                      = "dx://project-GX5Kk9j4bJBZXF64QkKkV04F:/hs37d5.bwa-index.tar.gz"
    fastaFile                     = "dx://project-GX5Kk9j4bJBZXF64QkKkV04F:/hs37d5.fa.gz"
    fastaIndex                    = "dx://project-GVP370Q4qYVGb3pB4XF7BPfp:/hs37d5.fa.fai"
    gatkResource                  = "dx://project-GVP370Q4qYVGb3pB4XF7BPfp:/b37.gatk.resource.bundle.tar.gz"
    file_path                     = " "
    file_type                     = "*_{L001_R1,L001_R2,L002_R1,L002_R2}_001.fastq.gz"
    outdir1                       = "./sentieon_output"
}

params.fastq_files               ="$params.file_path"+"$params.file_type"

//picard parameters
params.fasta_index = "dx://project-F3zqGV04fXX5j7566869fjFq:/human.genome/1000genomes_phase2_hs37d5/hs37d5.fasta-index.tar.gz"
params.bedfile="dx://project-FzyfP204Z5qXBp6696jG5g10:/datasets/CEN/CEN_capture_v1.0.0.bed"
params.run_CollectMultipleMetrics = false
params.run_CollectHsMetrics = true
params.run_CollectTargetedPcrMetrics = false
params.run_CollectRnaSeqMetrics = false

params.outdir2 = "./picard_output"

//verifybamID parameters
params.vcf_file = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:/apps_workflows/Omni25_genotypes_1525_samples_v2.b37.PASS.ALL.sites.vcf.gz"  
params.outdir3  = "./verifybamID_output"

//multiqc parameters
params.multiqc_config   = "dx://project-Fkb6Gkj433GVVvj73J7x8KbV:/dynamic_files/multiqc_config/CEN_multiqc_config_v2.0.1.yaml"
params.depth            ="250,500,1000"
params.outdir4          = "./multiqC_output"
params.num_samples      = " "
params.calc_custom_coverage = false

//samtools parameters
params.outdir6 = "./samtools_output"

//somalier param
//params.sample_vcf="*_Haplotyper.vcf.gz"
params.site_vcf="dx://project-Fkb6Gkj433GVVvj73J7x8KbV:/assets/somalier/sites.GRCh37.vcf"
params.ref_file="dx://project-GX84pyQ4FKX336bxfkQV7X1X:/somalier_ref/hs37d5.fa"
params.ref_index_file="dx://project-GX84pyQ4FKX336bxfkQV7X1X:/somalier_ref//hs37d5.fasta-index.tar"
params.outdir7 = "./somalier_combined_output"
params.female_threshold=3
params.male_threshold=1


//docker

process {
    withName:MULTIQC {
        container = 'ewels/multiqc:latest'
  }
    withName:Calc_Custom_Coverage {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
    withName:somalier_extract {
        container = 'brentp/somalier:latest'
  }
     
    withName:somalier_relate {
        container = 'brentp/somalier'
  }
     
    withName:get_ped {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
  
    withName:somalier_relate2multiqc {
        container = 'wintun12/fordnanexus:panda_numpy'
  }
    
}
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
// machine type
process {
    withName:fastQC {
        machineType = 'mem1_ssd1_v2_x2'
  }
    withName:runSentieon {
        machineType = 'mem1_ssd1_v2_x36'
  }
    withName:untar {
        machineType = 'mem1_ssd1_x4'
  }
  
    withName:picard {
        machineType = 'mem1_ssd1_x4'
  }
  
    withName:verifybamID {
        machineType = 'mem1_ssd1_v2_x2'
  }
  
    withName:samtools {
        machineType = 'mem1_ssd1_v2_x2'
  }
  
    withName:MULTIQC {
        machineType = 'mem1_ssd1_v2_x4'
  }
  
    withName:Calc_Custom_Coverage {
        machineType = 'mem1_ssd1_v2_x4'
  }
    withName:somalier_extract {
        machineType = 'mem1_ssd1_v2_x2'
  }
     
    withName:somalier_relate {
        machineType = 'mem1_ssd1_v2_x4'
  }
     
    withName:get_ped {
        machineType = 'mem1_ssd1_v2_x4'
  }
  
    withName:somalier_relate2multiqc {
        machineType = 'mem3_ssd1_v2_x2'
  }
    
}

executor {
    queueSize = 99
}

